<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Stamp</title>
  </head>
  <body style="background: transparent;">
    <div style="{{ stamp_container_style }}">
        <span style="{{ stamp_style }}">
            {{ stamp_value }}
        </span>
    </div>
  </body>
</html>